  <!--navbar using bootstrap-->
     
    
      <nav class="navbar navbar-expand-lg bg-primary ">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="index.html"><img src="The club project.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            The Club Project </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-white">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle; text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Suggestions</a></li>
                  <li><a class="dropdown-item" href="#">Report an issue</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Create Your own Club</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success text-white " type="submit">Search</button>
            </form>
            {{#if login}}
             <a class="btn text-white btn-outline-success m-lg-2">Log out</a>
            {{else}}
            <a class="btn text-white btn-outline-success m-lg-2" href="login.html">Login/Sign up</a>
               
            {{/if}}
          </div>
        </div>
      </nav>